aside li:not(.navbar-section) {
    cursor: pointer;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;

    transition: border-color .1s ease;
    border-bottom: 1px solid var(--background);
    
    &:hover {
        border-color: var(--foreground);
    }

    &.selected {
        font-weight: bold;
        border-bottom: 1px solid var(--foreground);
    }
}

aside ul {
    overflow-y: scroll;
    scrollbar-width: thin;
    padding-left: 20px;
}

aside {
    max-width: 300px;
}
